*{
    margin: 0;
}

.container {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "rodape";
}

header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: rodape; }