.cabecalho {
    box-sizing: border-box;
    display: flex;
    max-height: 150px;
    border-bottom: solid 5px var(--cor-destaque);
    align-items: center;
    justify-content: center;
}


.menu {
    display: flex;
    gap: 15px;
    font-size: 16px;
    margin: 12px;
}

.logo {
    display: block;
    max-width: 25%;
}

.menu a {
    text-decoration: none;
    font-family: var(--fonte-corpo);
    color: var(--cor-fundo);
    font-style: italic;
    border-radius: 5px;
    padding: 12px;
    font-weight: bold;
    background-color: var(--cor-destaque);
}

.menu a:hover {
    text-decoration: none;
    font-family: var(--fonte-corpo);
    color: var(--cor-destaque);
    font-style: italic;
    border-radius: 8px;
    padding: 12px;
    background-color: var(--cor-texto);
}
