.cabecalho-home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    padding: 13px 0;
    border-bottom: solid 1px var(--cor-destaque);
}

.caixa-cadastro {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 70px 100px;
    margin-top: 150px;
    box-shadow: 1px 1px 8px var(--cor-destaque);
    border-radius: 17px;
}

.formulario{
    display: flex;
    flex-direction: column;
}
.caixa-cadastro h3 {
    align-self: center;
    justify-items: center;
    margin-bottom: 10px;
}

.caixa-cadastro input,
button {
    padding: 5px;
    border-radius: 8px;
    background-color: var(--cor-texto);

}


input:focus {
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}


.caixa-cadastro button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-fundo);
    cursor: pointer;
    font-weight: bolder;
}
.btn-cadastro {
    margin-top: 10px;
}